<li class="<%= user.get('css') %>">
  <span class="img"><img src="/<%= user.get('image') %>"></span>
  <span class="name"><%= pos %>. <%= user.get('name') %></span>
  <span class="points"><%= user.get('points') %> pts., <%= user.get('task_counter') %> tasks</span>
</li>
